node_modules/
terms & thumbnails/
.env
dist/
*.log
passwords.mdc
.gitignore
/dist
package-lock.json
package-lock.json
/files/Jazz
/files/Parts without piano
/files/SOLO
/files/Sonata
/files/Ансамбли валторн
/files/Крупная форма (Horn and Piano)
/files/Обучение
/files/Оркестровые трудности
/files/Охотничий рог (Hunting horn)
/files/Пьесы
/files/С духовым оркестром
/files/С оркестром 
/files
/telegram-bot/venv
/venv